<%- include('../partials/header') %>

    <form action="/flights/<%= flight._id %>/tickets" method="POST">
        <label>Seat:</label>
            <input name="seat" required pattern="[A-F][1-9]\d?">            <label>Price:</label>
            <input name="price">
            <label>Flight:</label>
            <button type="submit">New Ticket</button>
    </form>

    <section id="show-page">
        <div>Airline</div>
        <div><%= flight.airline %></div>
        <div>Airport</div>
        <div><%= flight.airport %></div>
        <div>Flight Number</div>
        <div><%= flight.flightNo %></div>
        <div>Departs</div>
        <div><%= flight.departs %></div>
    </section>

    <br><br>
    <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
        <label>Airport:
            <select name="airport">
                <option value="AUS">AUS</option>
                <option value="DFW">DFW</option>
                <option value="DEN" selected>DEN</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
            </select> 
        </label>
        <label>Arrival: 
            <input type="datetime-local" name="arrival">
        </label>
        <input type="submit" value="Add Destination">
    </form>
    <h2>Destinations</h2>
        <div>
            <% if (flight.destinations.length) { %>
                <table>
                    <thread>
                        <tr>
                            <th>Arrival Time</th>
                            <th>Airport</th>
                        </tr>
                    </thread>
                    <tbody>
                        <% flight.destinations.forEach(function(d) { %>
                            <tr>
                                <th><%= d.arrival %></th>
                                <th><%= d.airport %></th>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            <% } else { %>
                <p>No Destinations Yet</p>
            <% } %>
        </div>

    <%- include('../partials/footer') %>